.fsect{
    background-color: #FAF3F0;
    padding: 28px 0 15px;
}
.mess{
    text-align: center;
    line-height: 1.5;
    color: #3498db;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.user{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:#003333;
    line-height: 1.5;
    font-size: 240%;
}
.wt {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 4px;
}

a:hover {
    color: burlywood;
}

                               /* Footer-section */
.footer-link {
    display: flex inline;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 30%;
    padding: 2% 3% 4% 4%;
}

.footer-link:hover {
    color: #EAF6F6;
}

.copyright {
    position:relative;
    left: 35%;
    bottom: 30px;
    color: #EAF6F6;
    padding: 0px 50px;
    font-size: .80rem;
}

#bottom {
    background-color:gray;
}

                                     /* info.html */
hr {
    border-style: dotted none none;
    border-width: 2px;
    border-color: grey;
    width: 15%;
}

img {
    height: 185px;
}

                                    /* fire.html */
.hot {
    background-color: darkgoldenrod;
}

.hott {
    padding: 7% 35%;
    color: whitesmoke;
    font-size: 21.5px;
    font-weight: bold;
}

.shiftcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fire{
    padding-top: 20px;
    height: 74%;
    border-radius: 100%;
    position: relative;
    right: 44px;
}
.butt{
    margin-left: 188px;
    position: relative;
    left: 370px;
    bottom: 59px;
}

                                  /* cold.html */
.cold {
    background-color: skyblue;
}

.coldd {
    padding: 7% 35%;
    color: darkolivegreen;
    font-size: 21.5px;
    font-weight: bold;
}

                                /* nice.html */
.neutral {
    background-color: aqua;
}

.nice {
    border-radius: 100%;
    height: 30%;
    width: 20%;
    padding-top:10px ;
    position: relative;
    right: 43px;
}

.neutrall {
    padding: 7% 35%;
    color: darkolivegreen;
    font-size: 21.5px;
    font-weight: bold;
}

                                /* cloud.html */
.rain {
    background-color: cornflowerblue;
}

.cloud{
    height:30%;
    width:20% ;
    border-radius: 100%;
    padding-top: 10px;
    position: relative;
    right: 44px;
}
.cloudd {
    padding: 7% 35%;
    color: bisque;
    font-size: 21.5px;
    font-weight: bold;
}

                                /* wind.html */
.windi {
    background-color: gray;
}

.wind {
    border-radius: 100%;
    height: 75%;
    padding-top: 10px;
    position: relative;
    right: 44px;
}

                            /* storm.html */
.storm {
    background-color: darkcyan;
}
@media only screen and (max-width:600px){
    .butt{
        position: relative;
        left: 1px;
        top: 1px;
    }
    .footer-link {
        display: flex inline;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        left: 22%;
        padding: 4% 3% 4% 4%;
    }
        .copyright{
            display: flex inline;
            justify-content: center;
            align-items: center;
            padding: 8%;
            position:relative;
            left: 105px;
        }
}
